In [44]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 6.5 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [3]:

df = pd.read_excel("Tangail_rainfall.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [4]:
df.head(20)

,STATIONID,YEAR,MONTH,SUMOFTSVALUE_UPDATED,MAXOFTSVALUE_UPDATED,MINOFTSVALUE_UPDATED,AVGOFTSVALUE_UPDATED
0,41909,1987,4,302,111,0,10.07
1,41909,1987,7,356,112,0,11.48
2,41909,1987,10,66,26,0,2.13
3,41909,1987,11,24,24,0,0.80
4,41909,1988,2,54,34,0,1.86
5,41909,1988,3,31,12,0,1.00
6,41909,1989,4,102,47,0,3.40
7,41909,1990,9,156,35,0,5.20
8,41909,1992,11,3,3,0,0.10
9,41909,1993,1,3,3,0,0.10
10,41909,1993,12,0,0,0,0.00
11,41909,1995,4,34,13,0,1.13
12,41909,1996,4,174,66,0,5.80
13,41909,1996,10,226,175,0,7.29
14,41909,1997,2,37,19,0,1.32
15,41909,1998,5,416,78,0,13.42
16,41909,1999,3,0,0,0,0.00
17,41909,1999,4,6,4,0,0.20
18,41909,1999,11,35,35,0,1.17
19,41909,2000,10,152,57,0,4.90

In [5]:
filt = df["YEAR"] != 1987
df = df[filt]

In [6]:
df = df.sort_values(by = ["YEAR","MONTH"])

In [7]:
df = df.reset_index(drop = True)

In [8]:
df

,STATIONID,YEAR,MONTH,SUMOFTSVALUE_UPDATED,MAXOFTSVALUE_UPDATED,MINOFTSVALUE_UPDATED,AVGOFTSVALUE_UPDATED
0,41909,1988,1,2,2,0,0.06
1,41909,1988,2,54,34,0,1.86
2,41909,1988,3,31,12,0,1.00
3,41909,1988,4,97,29,0,3.23
4,41909,1988,5,334,77,0,10.77
...,...,...,...,...,...,...,...
355,41909,2017,8,469,109,0,15.13
356,41909,2017,9,290,66,0,9.67
357,41909,2017,10,376,146,0,12.13
358,41909,2017,11,17,14,0,0.57
359,41909,2017,12,46,24,0,1.48

In [9]:
new_df = df.drop(df.columns[[4,5,6]],axis = 1)

In [10]:
monthly_max = new_df.groupby("MONTH").max()

In [11]:
monthly_avg = new_df.groupby("MONTH").mean()

In [12]:
monthly_max["Average"] = monthly_avg["SUMOFTSVALUE_UPDATED"]

In [13]:
monthly_max.rename(columns = {"SUMOFTSVALUE_UPDATED":"Max"}, inplace = True)

In [14]:
# monthly_max.to_excel("monthly_analysis_tangail.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [15]:
monthly_max

       STATIONID  YEAR  Max     Average
MONTH
1          41909  2017   28    5.733333
2          41909  2017   63   21.733333
3          41909  2017  177   40.300000
4          41909  2017  256  105.733333
5          41909  2017  416  248.000000
6          41909  2017  660  323.833333
7          41909  2017  609  326.166667
8          41909  2017  760  262.133333
9          41909  2017  700  268.600000
10         41909  2017  456  159.500000
11         41909  2017  121   23.966667
12         41909  2017   90   10.500000

In [16]:
monthly_max.reset_index()

    MONTH  STATIONID  YEAR  Max     Average
0       1      41909  2017   28    5.733333
1       2      41909  2017   63   21.733333
2       3      41909  2017  177   40.300000
3       4      41909  2017  256  105.733333
4       5      41909  2017  416  248.000000
5       6      41909  2017  660  323.833333
6       7      41909  2017  609  326.166667
7       8      41909  2017  760  262.133333
8       9      41909  2017  700  268.600000
9      10      41909  2017  456  159.500000
10     11      41909  2017  121   23.966667
11     12      41909  2017   90   10.500000

In [17]:
import calendar

In [50]:
monthly_max['MONTH'] = df['MONTH'].apply(lambda x: calendar.month_abbr[x-1])

In [19]:
monthly_max.drop(["STATIONID","YEAR"], axis = 1, inplace = True)

In [20]:
monthly_max.to_excel("monthly_tangail.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [67]:
yearly_sum = new_df.groupby('YEAR').sum()

In [68]:
yearly_sum

      STATIONID  MONTH  SUMOFTSVALUE_UPDATED
YEAR
1988     502908     78                  2140
1989     502908     78                  1579
1990     502908     78                  1580
1991     502908     78                  2748
1992     502908     78                  1564
1993     502908     78                  2579
1994     502908     78                  1745
1995     502908     78                  1852
1996     502908     78                  1476
1997     502908     78                  2011
1998     502908     78                  2008
1999     502908     78                  1401
2000     502908     78                  1792
2001     502908     78                  1572
2002     502908     78                  2020
2003     502908     78                  1694
2004     502908     78                  1924
2005     502908     78                  1871
2006     502908     78                  1541
2007     502908     78                  2187
2008     502908     78                  1853
2009     502908     78                  1391
2010     502908     78                  1749
2011     502908     78                  1838
2012     502908     78                  1469
2013     502908     78                  1126
2014     502908     78                  1641
2015     502908     78                  1871
2016     502908     78                  1131
2017     502908     78                  2533

In [23]:
yearly_sum.drop(["STATIONID","MONTH"],axis = 1, inplace = True)

In [24]:
yearly_sum.to_excel("taingail_yearly_analysis.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [69]:
df_far = pd.read_excel("Faridpur_rainfall.xls")

# df.head(20)

year_range = np.arange(1948,1988,1)

filt = ~df_far["YEAR"].isin(year_range)

df_far = df_far[filt]

df_far = df_far.sort_values(by = ["YEAR","MONTH"])

df_far = df_far.reset_index(drop = True)

# df

new_df_far = df_far.drop(df_far.columns[4:],axis = 1)

monthly_max_far = new_df_far.groupby("MONTH").max()

monthly_avg_far = new_df_far.groupby("MONTH").mean()

monthly_max_far["Average"] = monthly_avg_far["SUMOFTSVALUE_UPDATED"]

monthly_max_far.rename(columns = {"SUMOFTSVALUE_UPDATED":"Max"}, inplace = True)

# monthly_max.to_excel("monthly_analysis_tangail.xls")



# monthly_max

monthly_max_far.reset_index()

import calendar

monthly_max_far['MONTH'] = df_far['MONTH'].apply(lambda x: calendar.month_abbr[x-1])

monthly_max_far.drop(["STATIONID","YEAR"], axis = 1, inplace = True)

monthly_max_far.to_excel("monthly_faridpur.xls")

yearly_sum_far = new_df_far.groupby('YEAR').sum()

# yearly_sum

yearly_sum_far.drop(["STATIONID","MONTH"],axis = 1, inplace = True)

yearly_sum_far.to_excel("faridpur_yearly_analysis.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:49: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

In [37]:
new_df_far

     STATIONID  YEAR  MONTH  SUMOFTSVALUE_UPDATED
0        11505  1988      1                     0
1        11505  1988      2                    34
2        11505  1988      3                    98
3        11505  1988      4                   133
4        11505  1988      5                   511
..         ...   ...    ...                   ...
355      11505  2017      8                   321
356      11505  2017      9                   219
357      11505  2017     10                   291
358      11505  2017     11                    14
359      11505  2017     12                    29

[360 rows x 4 columns]

In [38]:
monthly_max_far

       Max     Average MONTH
MONTH
1       49    7.933333   Jan
2       61   20.633333   Feb
3      227   38.800000   Mar
4      182   96.766667   Apr
5      511  214.300000   May
6      514  308.766667   Jun
7      586  343.100000   Jul
8      467  280.133333   Aug
9      750  224.366667   Sep
10     422  161.033333   Oct
11     148   29.466667   Nov
12     104    9.566667

In [40]:
monthly_max_far["Average"].max()

343.1

In [43]:
new_df_far.iloc[new_df_far["SUMOFTSVALUE_UPDATED"].idxmax()]

STATIONID               11505
YEAR                     2004
MONTH                       9
SUMOFTSVALUE_UPDATED      750
Name: 200, dtype: int64

In [54]:
monthly_max

       Max     Average MONTH
MONTH
1       28    5.733333   Jan
2       63   21.733333   Feb
3      177   40.300000   Mar
4      256  105.733333   Apr
5      416  248.000000   May
6      660  323.833333   Jun
7      609  326.166667   Jul
8      760  262.133333   Aug
9      700  268.600000   Sep
10     456  159.500000   Oct
11     121   23.966667   Nov
12      90   10.500000

In [58]:
monthly_max.iloc[monthly_max[["Average"]].idxmax()]

       Max     Average MONTH
MONTH
8      760  262.133333   Aug

In [56]:
monthly_max["Average"].max()

326.1666666666667

In [62]:
new_df.iloc[new_df[["SUMOFTSVALUE_UPDATED"]].idxmax()]

     STATIONID  YEAR  MONTH  SUMOFTSVALUE_UPDATED
283      41909  2011      8                   760

In [63]:
new_df[["SUMOFTSVALUE_UPDATED"]].idxmax()

SUMOFTSVALUE_UPDATED    283
dtype: int64

In [64]:
df2=new_df.nlargest(2,['SUMOFTSVALUE_UPDATED'])

In [65]:
df2

     STATIONID  YEAR  MONTH  SUMOFTSVALUE_UPDATED
283      41909  2011      8                   760
44       41909  1991      9                   700

In [66]:
new_df["SUMOFTSVALUE_UPDATED"].max()

760