In [1]:
pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 5.8 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [20]:
import pandas as pd
import datetime as dt

In [21]:
df = pd.read_excel("Lama_203_Waterleveldata.xlsx",sheet_name=1)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18405 entries, 0 to 18404
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  18405 non-null  datetime64[ns]
 1   WL(m)     18405 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 287.7 KB

In [23]:
df = df.set_index("DateTime")

In [24]:
df

                     WL(m)
DateTime
2010-01-01 06:00:00   6.65
2010-01-01 09:00:00   6.65
2010-01-01 12:00:00   6.65
2010-01-01 15:00:00   6.65
2010-01-01 18:00:00   6.65
...                    ...
2020-02-29 06:00:00   6.04
2020-02-29 09:00:00   6.04
2020-02-29 12:00:00   6.04
2020-02-29 15:00:00   6.04
2020-02-29 18:00:00   6.04

[18405 rows x 1 columns]

In [25]:
daily_df = df.resample("D").mean()

In [28]:
daily_df.index  = daily_df.index.date

In [29]:
daily_df.to_excel("Daily_Lama_203_Waterleveldata.xlsx")

In [30]:
daily_df.reset_index(inplace =True)

In [31]:
daily_df

           index  WL(m)
0     2010-01-01   6.65
1     2010-01-02   6.65
2     2010-01-03   6.65
3     2010-01-04   6.65
4     2010-01-05   6.65
...          ...    ...
3707  2020-02-25   6.03
3708  2020-02-26   6.03
3709  2020-02-27   6.05
3710  2020-02-28   6.04
3711  2020-02-29   6.04

[3712 rows x 2 columns]

In [33]:
daily_df.rename({"index": "Date"},inplace = True)

In [34]:
daily_df.to_excel("Daily_Lama_203_Waterleveldata_modified.xlsx")