In [68]:
pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [69]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [70]:
df = pd.read_excel("faridpur_ws.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   STATIONID             373 non-null    int64
 1   YEAR                  373 non-null    int64
 2   MONTH                 373 non-null    int64
 3   SUMOFTSVALUE_UPDATED  373 non-null    float64
 4   MAXOFTSVALUE_UPDATED  373 non-null    float64
 5   MINOFTSVALUE_UPDATED  373 non-null    int64
 6   AVGOFTSVALUE_UPDATED  373 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 20.5 KB

In [72]:
df_new = df.loc[:,["STATIONID","YEAR","MONTH","MAXOFTSVALUE_UPDATED"]]

In [73]:
df_new["MAXOFTSVALUE_UPDATED"] = df_new["MAXOFTSVALUE_UPDATED"]/24

In [74]:
df_new = df_new.sort_values(by = ["YEAR","MONTH"])

In [75]:
df_new

     STATIONID  YEAR  MONTH  MAXOFTSVALUE_UPDATED
126      11505  1987      1             16.667917
343      11505  1987      2             16.667917
35       11505  1987      3             33.335833
174      11505  1987      4             38.891667
2        11505  1987      5             25.927917
..         ...   ...    ...                   ...
223      11505  2017      9              9.000000
371      11505  2017     10             21.600000
143      11505  2017     11              3.600000
144      11505  2017     12              5.400000
372      11505  2018      1              0.000000

[373 rows x 4 columns]

In [76]:
filt = df_new["YEAR"] != 1987
df_new = df_new[filt]

In [77]:
monthly_avg = df_new.groupby("MONTH").mean()
monthly_max = df_new.groupby("MONTH").max()

In [78]:
monthly_avg = monthly_avg.reset_index()

In [79]:
monthly_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MONTH                 12 non-null     int64
 1   STATIONID             12 non-null     float64
 2   YEAR                  12 non-null     float64
 3   MAXOFTSVALUE_UPDATED  12 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 512.0 bytes

In [80]:
monthly_analysis = monthly_avg.loc[:,["MONTH","MAXOFTSVALUE_UPDATED"]]

In [81]:
monthly_analysis.rename({"MAXOFTSVALUE_UPDATED": "Max_avg"}, inplace = True)

In [82]:
monthly_analysis_merged = monthly_analysis.merge(monthly_max,on = "MONTH")

In [83]:
monthly_analysis_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   12 non-null     int64
 1   MAXOFTSVALUE_UPDATED_x  12 non-null     float64
 2   STATIONID               12 non-null     int64
 3   YEAR                    12 non-null     int64
 4   MAXOFTSVALUE_UPDATED_y  12 non-null     float64
dtypes: float64(2), int64(3)
memory usage: 576.0 bytes

In [84]:
monthly_analysis_merged.rename({"MAXOFTSVALUE_UPDATED_x":"Max_avg","MAXOFTSVALUE_UPDATED_y":"max"})

    MONTH  MAXOFTSVALUE_UPDATED_x  STATIONID  YEAR  MAXOFTSVALUE_UPDATED_y
0       1               12.535591      11505  2018               22.223750
1       2               17.643444      11505  2017               38.891667
2       3               24.469875      11505  2017               75.931667
3       4               25.395847      11505  2017               44.447917
4       5               29.844125      11505  2017               83.340000
5       6               28.312903      11505  2017              111.120000
6       7               22.388250      11505  2017               48.151667
7       8               21.882250      11505  2017               44.447917
8       9               20.111056      11505  2017               38.891667
9      10               17.814792      11505  2017               42.595833
10     11               14.621972      11505  2017               46.300000
11     12               13.013431      11505  2017               66.671667

In [85]:
monthly_analysis_merged.drop(["STATIONID","YEAR"], axis = 1, inplace = True)

In [86]:
import calendar
monthly_analysis_merged['MONTH'] = monthly_analysis_merged['MONTH'].apply(lambda x: calendar.month_abbr[x])

In [87]:
monthly_analysis_merged

   MONTH  MAXOFTSVALUE_UPDATED_x  MAXOFTSVALUE_UPDATED_y
0    Jan               12.535591               22.223750
1    Feb               17.643444               38.891667
2    Mar               24.469875               75.931667
3    Apr               25.395847               44.447917
4    May               29.844125               83.340000
5    Jun               28.312903              111.120000
6    Jul               22.388250               48.151667
7    Aug               21.882250               44.447917
8    Sep               20.111056               38.891667
9    Oct               17.814792               42.595833
10   Nov               14.621972               46.300000
11   Dec               13.013431               66.671667

In [88]:
monthly_analysis_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MONTH                   12 non-null     object
 1   MAXOFTSVALUE_UPDATED_x  12 non-null     float64
 2   MAXOFTSVALUE_UPDATED_y  12 non-null     float64
dtypes: float64(2), object(1)
memory usage: 684.0+ bytes

In [89]:
monthly_analysis_merged.to_excel("faridpur_monthly_analysis.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [92]:
monthly_analysis_merged.nlargest(2,"MAXOFTSVALUE_UPDATED_x")

  MONTH  MAXOFTSVALUE_UPDATED_x  MAXOFTSVALUE_UPDATED_y
4   May               29.844125                   83.34
5   Jun               28.312903                  111.12

In [91]:
df_new.nlargest(2,"MAXOFTSVALUE_UPDATED")

     STATIONID  YEAR  MONTH  MAXOFTSVALUE_UPDATED
135      11505  1998      6                111.12
259      11505  1998      5                 83.34